{% extends "cantina/base.html" %}
{% block title %}Vendas{% endblock %}
{% block content %}
<h1>Vendas</h1>
<p><a href="/vendas/registrar/" class="btn btn-success">Registrar Venda</a></p>
{% if vendas %}
<table>
    <tr><th>Produto</th><th>Qtd</th><th>Unit.</th><th>Total</th><th>Data</th></tr>
    {% for v in vendas %}
    <tr><td>{{ v.produto.nome }}</td><td>{{ v.quantidade }}</td><td>R$ {{ v.valor_unitario|floatformat:2 }}</td><td>R$ {{ v.valor_total|floatformat:2 }}</td><td>{{ v.data_venda|date:"d/m/Y H:i" }}</td></tr>
    {% endfor %}
</table>
{% else %}
<div class="empty">Nenhuma venda</div>
{% endif %}
{% endblock %}
